/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #fff 94%, #fff0) left/calc(200% - 1em) 100%;
  animation: l24-inverted 1s infinite alternate linear;
}
.loader::before {
  content: "Услуги и Цены";
  line-height: 1em;
  color: #fff0;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #bf6850 94%, #fff);
  -webkit-background-clip: text;
          background-clip: text;
          font-family: 'Comfortaa', sans-serif;
          font-weight: 600;
}

@keyframes l24-inverted {
  100% { background-position: right; }
}